.nav {
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 1;

    transition: all 0.5s;
    transition-timing-function: ease-in;
}

.nav_content {
    display: flex;
    justify-content: space-between;
}

.nav_black {
    background-color: black;
}

.nav_logo {
    position: fixed;
    left: 0;
    top: 10px;
    width: 80px;
    object-fit: contain;
    cursor: pointer;
    padding: left;
    margin-left: 5px;
}

.nav_avatar {
    position: fixed;
    cursor: pointer;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    border: 1px solid white;
}

.nav_avatar:hover {
    transform: scale(1.35);
    opacity: 1;
}